
.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form{
    max-width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.form{
    margin-bottom: 15px;
}

input [type="text"],
input [type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing:border-box;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="text"],
input[type="password"]{
    border-color: #7D8ABC;
    outline: none;
    box-shadow: 0 0 5px rgba(125,138,188,0.5);
}

.register-button{
    padding: 10px;
    background-color: #304463;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button{
    background-color: #3b5a87;
}